.blur-container{
    background: url('../img/blue_stool.jpg') 0 / cover fixed;
    height: 800px;
    filter: blur(4px) contrast(1) brightness(.8);
    position: relative;
}

.header-container{
    position: absolute;
    top: 35%;
    left: 28%;
    width: 48%;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    z-index: 1;
    position: absolute;
    top: 4%;
    left: 4%;
}

h1{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 38.4px;
    margin: 0 0 28px;
}

.header-text{
    color: #ffffff;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0.1px;
}